<h2 class="cartheader">Your Cart</h2>
<% if user_signed_in? %>
 <h4 class="cartheader">
   <%= username %>
 </h4>
<% end %>
<table id="cartTable">
  <td></td>
  <td></td>
  <td>Unit Price</td>
  <%= render(cart.line_items) %>

  <tr>
    <td>Total Price</td>
    <td></td>
    <td></td>
    <td> <%= number_to_currency(cart.total_price,
                                :unit => '&euro;',
                                precision: 0) %>
    </td>
  </tr>
</table>

<%= button_to 'Empty cart', @cart,
              :method => :delete,
              :id => "emptyCartButton",
              :confirm => 'Are you sure?',
              :class => "button secondary tiny" %>

<div class="checkOutButtons">
  <%= button_to "Checkout", new_order_path,
                method: :get,
                :id => "checkOutButton",
                :class => "button secondary tiny", remote: true %>
</div>

<div class="checkOutButtons">
  <%= button_to "Smaller", new_home_path,
                method: :get,
                :id => "smallerCartButton",
                :class => "button secondary tiny", remote: true %>
</div>

<div id="cartDragMessage"> I am draggable</div>
<br />
