<p id="notice"><%= notice %></p>
<p>
  <b>Name:</b>
  <%= @commodity.name %>
</p>
<p>
  <b>Description:</b>
  <%= @commodity.description %>
</p>
<p>
  <b>Price:</b>
  <%= @commodity.price %>
</p>
<p>
  <b>Image:</b>
  <%= image_tag(@commodity.image_url) %>
</p>
<%= link_to 'Edit', edit_commodity_path(@commodity) %> |
<%= link_to 'Back', commodities_path %>