<ul class="breadcrumbs">


  <% if user_signed_in? %>

      <li><%= link_to 'Edit profile', edit_user_registration_path %> </li>
      <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %>

      <li>Logged in as <strong><%= current_user.email %></strong>
            <% if current_user.admin? %>
                (administrator)
            <% end %>
      </li>

      <li><span class="notice"><%= notice %></span>
        <span class="alert"><%= alert %></span></li>

      <span id ="gravatar"><%= render partial: 'layouts/gravatar' %></span>

  <% else %>
      <li><%= link_to "Sign up", new_user_registration_path %> </li>
      <li><%= link_to "Log in", new_user_session_path %> </li>
      <li><%= link_to "Forgot Password?",
                      new_password_path(resource_name) %></li>
  <% end %>


</ul>





