<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1>
        <%= link_to "Home", root_path %>
      </h1>
    </li>
  </ul>
  <section class="top-bar-section"> <!-- Right Nav Section -->
    <ul class="right">
      <li class="active">
        <a href="#">Right Nav Button Active</a>
      </li>
      <li class="has-dropdown">
        <a href="#">Right Button with Dropdown</a>
        <ul class="dropdown">
          <li><a href="#">First link in dropdown</a></li>
        </ul>
      </li>
    </ul>
    <!-- Left Nav Section -->
    <ul class="left">
      <li>
        <%= link_to "Commodities", commodities_path, remote: false %>
      </li>
      <li>
        <%= link_to "Gems", mygems_path, :class => "ajaxClass" %>
      </li>

      <% if current_user and current_user.admin %>

          <li>
            <%= link_to "XML", xmlusers_path, remote: false %>
          </li>



      <li class="has-dropdown">
        <%= link_to "Users XML View", xmlusers_path, remote: false %>
        <ul class="dropdown">
          <li>
            <%= link_to "Dynamic XML", xmlusers_path, remote: false %>
          </li>
          <li>
            <%= link_to("XML file", "/xmlNewUsers.xml",
                        :target => '_blank') %>
          </li>
        </ul>
      </li>
      <% end %>
    </ul>
  </section>
</nav>

